<h1>Créditos</h1>
<a href="https://github.com/lalfarob"> Enlace Github </a>
<p>
    Esta práctica ha sido desarrollada por Luis Alfaro y Jorge Asenjo.
</p>

<img src="/images/jorge.png" />
<img src="/images/luis.png" />

